# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.OpenTelemetryExample.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\andreas.hellquist\source\repos\SecurityGateway\src\SecurityGateway\src\OpenTelemetryExample\.idea\.idea.OpenTelemetryExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
